:root {
  --background-color: beige;
  --header-bg-color: #bbb8b2;
  --primary-text-color: navy;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: "Times New Roman", Times, serif;

  display: flex;
  flex-direction: column;
}

header {
  width: 100vw;
  height: 200px;

  background-color: var(--header-bg-color);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  border-style: dashed;
  border-width: 1px;
  padding: 10px;
  margin: 1%;
  width: 25%;
}

section h2 {
  border-style: solid;
  border-width: 1px;
  border-color: green;
  text-align: center;
  border-radius: 5px;
}

section pre {
  white-space: pre-wrap;

  background: linear-gradient(to bottom, pink, purple);
  border-radius: 5px;
}

@media screen and (max-width: 992px) {
  .card {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 90%;
  }
}